.Background {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Button, .ButtonMain {
    background-color: white;
    padding: 2rem;
    margin: .25rem;
    border-radius: 3px;
    font-size: 30px;
}

.ButtonMain {
    margin-top: 10%;
}